extends ../template/test.pug

block title 
    title Components

block link
    link(rel="stylesheet", href="../assets/css/test/components.css")
block content 
    .wrap 
        .wrap-left 
            .contain-top
                .option-bar#context-head
                .option-frame
                    select#frame-size()
                        option(value="1200px.900px") 1200x900
                        option(value="100%.100%") Full
                        option(value="1000px.900px") 1000x900
                        option(value="900px.900px") 900x900
                        option(value="1920px.108px0")  1920x1080
                    input#frame-width(value="1200", type="text", min="0" , placeholder="width")
                    input#frame-height(value="900", type="text", min="0" , placeholder="height")
            .wrap-left-contain 
                .wrap-left-contain-tray.drop-field
        .wrap-right 
            .wrap-right-tray
                .drag-obj(disable='true', data-components="input") input
                .drag-obj(disable='true', data-components="button") button
                .drag-obj(disable='true', data-components="textarea") textarea
                .drag-obj(disable='true', data-components="horizontal_socket") Horizontal Socket
                .drag-obj(disable='true', data-components="vertical_socket") Vertical Socket

block script
    script(type="module" src="../assets/js/test/components.js") 