extends ../template/test.pug

block title 
    title Components

block link
    link(rel="stylesheet", href="../assets/css/test/components.css")
block content 
    .wrap 
        .wrap-left 
            .wrap-left-tray.drop-field
        .wrap-right 
            .wrap-right-tray.drop-field
                .drag-obj(disable='true') input
                .drag-obj(disable='true') button
                .drag-obj(disable='true') textarea
                .drag-obj(disable='true', data-components="header") header 1
                .drag-obj(disable='true', data-components="header2") header 2

block script
    script(type="module" src="../assets/js/test/components.js") 