extends ../template/test.pug

block title 
    title Test view
block link
    link(rel="stylesheet", type="text/css", href="../assets/css/test/test.css")
block content
    .frame
        .frame-left
            .frame-left-fool
        .frame-right
            .frame-right-fool
                .frame-right-fool-card(draggable="true")
                .frame-right-fool-card(draggable="true")
                .frame-right-fool-card(draggable="true")

block script 
    script(type="text/javascript",src="../assets/js/test/test.js")