doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../assets/css/test/tray.css")
        script(type="module",src="../assets/js/test/tray.js") 
        //- todo: plugin
        link(rel="stylesheet", href="../assets/css/test/components/header1.css")
        link(rel="stylesheet", href="../assets/css/test/components/fork/width.css")
        link(rel="stylesheet", href="../assets/css/test/components/fork/height.css")
        link(rel="stylesheet", href="../assets/css/test/components/fork/padding.css")
        link(rel="stylesheet", href="../assets/css/test/components/fork/margin.css")
        link(rel="stylesheet", href="../assets/css/test/components/fork/tblr.css")
        link(rel="stylesheet", href="../assets/css/test/components/fork/gap.css")
        link(rel="stylesheet", href="../assets/css/test/components/fork/background.css")
        link(rel="stylesheet", href="../assets/css/test/components/fork/animation.css")
        link(rel="stylesheet", href="../assets/css/test/components/fork/utilities.css")
        <script src="https://kit.fontawesome.com/22e1005e84.js" crossorigin="anonymous"></script>
        title Tray
    body 
        div.h-100vh.flex-col
            div.h-100vh.bg-f8f8f8.flex-col#tray
            div.h-28px.bg-eaeaea.sticky.b-0px.flex-row.between.transition-300ms.over-hidden#trayComponents
                div.flex-col.w-100pc
                    div.flex-row
                        .p-4px.no-select.pointer.typeSelect(data-select="header") Header
                        .p-4px.no-select.pointer.typeSelect(data-select="body") Body
                        .p-4px.no-select.pointer.typeSelect(data-select="footer") Footer
                    div.h-100pc.bg-000000
                        .flex-col.over-scroll-y.g-1px.components_tray(data-field="body")
                            .h-100px.bg-eaeaea.w-100pc
                        .flex-col.over-scroll-y.g-1px.no-display.components_tray(data-field="footer")
                            .h-100px.bg-f8f8f8.w-100pc
                label.p-4px.pointer.no-select(for="options") Options
                    input#options(type="checkbox", hidden="true", checked="true") 