extends ../template/test.pug


block link
    link(rel="stylesheet", type="text/css", href="../assets/css/test/test.css")
    link(rel="stylesheet", type="text/css", href="../assets/css/test/use_class.css")
block title
    title Use class
block content
    .frame
        .frame-left
            .frame-left-fool
        .frame-right
            .frame-right-fool
                .frame-right-fool-card(style="--cl: lightyellow" draggable="true") 1
                .frame-right-fool-card(style="--cl: lightseagreen" draggable="true") 2
                .frame-right-fool-card(style="--cl: lightsalmon" draggable="true") 3
                .frame-right-fool-card(style="--cl: lightslategray" draggable="true") 4
block script
    script(type="module",src="../assets/js/test/use_class.js")