.h-55px.px-15px.flex-row.between.items-center.bg-ffffff.grab.cake
    img.block.pointer.h-inherit(src="../image_placeholder.png", draggable="false")
    .h-40px.px-10px.w-590px.flex-row.items-center.bg-f0f2f5.radius-25px.g-5px
        <i class="fa-solid fa-magnifying-glass"></i>
        input.px-5px.no-outline.no-bd.w-100pc.bg-trans(type="text", placeholder="Tìm kiếm trên Facebook")
    .h-inherit.flex-row.items-center.g-5px
        .h-40px.w-40px.grid.place-center.bg-e4e6eb.radius-50pc.pointer
            <i class="fa-brands fa-facebook-messenger"></i>
        .h-40px.w-40px.grid.place-center.bg-e4e6eb.radius-50pc.pointer
            <i class="fa-solid fa-bell"></i>
        .h-40px.w-40px.grid.place-center.bg-e4e6eb.radius-50pc.pointer.over-hidden
            img.block.h-inherit(src="../image_placeholder.png", draggable="false")
