.flex-row.g-30px.items-center.h-70px.px-20px.bg-eaeaea.grab.cake
    .w-70px 
        img.w-inherit.block(src="../image_placeholder.png")
    .flex-row.h-inherit.between.w-100pc
        .flex-row.g-25px.h-inherit
            .w-100px.h-inherit.bg-d3d3d3.grid.place-center.no-select option
            .w-100px.h-inherit.bg-d3d3d3.grid.place-center.no-select option
            .w-100px.h-inherit.bg-d3d3d3.grid.place-center.no-select option
            .w-100px.h-inherit.bg-d3d3d3.grid.place-center.no-select option
            .w-100px.h-inherit.bg-d3d3d3.grid.place-center.no-select option
        .h-inherit
            .w-100px.h-inherit.bg-d3d3d3.grid.place-center.no-select option