.wrap 
    .wrap-logo 
        img(src="../image_placeholder.png", alt="")
    .wrap-navigate 
        .wrap-navigate-left
            .wrap-navigate-option option
            .wrap-navigate-option option
            .wrap-navigate-option option
            .wrap-navigate-option option
            .wrap-navigate-option option
        .wrap-navigate-right
            .wrap-navigate-option option