.h-55px.w-100pc.bg-ffffff.flex-row.between.items-center.px-20px.grab.cake
    .h-inherit.flex-row.items-center.g-10px
        .h-40px.w-40px.radius-50pc.grid.place-center.pointer.backgroundTrigger
            <i class="fa-solid fa-bars"></i>
        img.h-inherit.block(src="../image_placeholder.png", draggable="false")
    .h-inherit.flex-row.items-center.g-20px
        .w-600px.h-40px.flex-row.items-center.bd-1px.bd-eaeaea.radius-25px.over-hidden
            .w-100pc.flex-row.items-center.h-inherit
                input.w-100pc.no-bd.no-outline.px-15px(type="text", spellcheck="false", placeholder="Tìm kiếm")
                .h-inherit.flex-row.items-center.pr-10px.g-15px
                    .w-40px.h-inherit.pointer.grid.place-center.radius-50pc.backgroundTrigger
                        <i class="fa-regular fa-keyboard"></i>
                    .w-40px.h-inherit.pointer.radius-50pc.grid.place-center.no-display
                        <i class="fa-solid fa-xmark"></i>
            .w-60px.bg-f8f8f8.grid.place-center.h-inherit.pointer.backgroundTrigger
                <i class="fa-solid fa-magnifying-glass"></i>
        <i class="fa-solid fa-microphone"></i>
    .h-inherit.flex-row.items-center.g-5px
        .h-40px.w-40px.radius-50pc.grid.place-center.pointer.backgroundTrigger
            <i class="fa-solid fa-video"></i>
        .h-40px.w-40px.radius-50pc.grid.place-center.pointer.backgroundTrigger
            <i class="fa-solid fa-bell"></i>
        img.h-inherit.block(src="../image_placeholder.png", draggable="false")