extends ../template/test.pug

block title 
    title Navigation
block content
        - testList = ['test','use_class', 'components']
        ul
            each name in testList
                li(style="font-size: 50px;")
                    a(href=`/test/${name}`) #{name}